
<mat-accordion>
  <mat-expansion-panel [(expanded)]="isDescriptionPanelDisplayed"
                       (opened)="showDescriptionPanel()"
                       (closed)="hideDescriptionPanel()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Capco CORS Tester description
      </mat-panel-title>
      <mat-panel-description *ngIf="!isDescriptionPanelDisplayed">
        Just read it if you are looking at this page for the first time
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <p>
      This tool is meant to show how to configure your Angular App and the Rest API layer in order to be able to do cross-domain requests.
      It is recommended to have some knowledge about CORS requests before using this tool.
      Please read <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">this page</a> to get an idea.
    </p>
    <p>
      There are multiple possible working configurations:
    </p>
    <ol>
      <li>The first choice would be to avoid using cross-origin requests (and set up a proxy that will redirect our API calls to the targeted APIs)</li>
      <li>If cross-origin requests must be used, then we want to properly set all the headers required in the front-end (browser will take care of the OPTIONS call) AND in the Rest API layer (to handle OPTIONS calls and to return the right headers)</li>
      <li>If unfortunately, we have no control over the Rest API layer, then the only way is to use Simple Fetch Requests: GET requests using only standard headers (once again, read <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">this page</a> to get an idea)</li>
      <li>For obvious security reasons, JSONP is not an option. Please read <a href="https://en.wikipedia.org/wiki/JSONP" target="_blank">this page</a> for more information.</li>
    </ol>
    <p>
      To trigger the cross-origin request, we are simply targeting the API with a direct call. In other words, we are setting our HTTP calls with the Origin {{environment.apiOrigin}}.
    </p>
    <p>
      Please note that the Javascript engine remembers when a preflight call has already happened. If a given configuration has triggered an OPTIONS call before the actual HTTP request, the second HTTP request having the same configuration will not have the OPTIONS call. To be able to replay the OPTIONS call, simply reload the page.
    </p>
    <p>
      Let's start now, but before starting:
    </p>
    <ol>
      <li>First turn on the developer's tool of your browser and open the Network tab and display the console</li>
      <li>Second select the different options to configure HTTP request and response</li>
      <li>Then press "HTTP Request" to make the API call</li>
      <li class="no-style">Observe the response in the Result section</li>
      <li class="no-style">Observe also the Network tab and see what is happening (is there an OPTIONS call? is there an error in the console?</li>
    </ol>
  </mat-expansion-panel>
</mat-accordion>
