<div class="mat-app-background basic-container">
  <h2>
    Capco CORS Tester
  </h2>

  <app-description></app-description>

  <section *ngFor="let method of listMethods()">
    <mat-divider></mat-divider>
    <h4 [innerHtml]="getTitleForRequest(method)"></h4>
    <app-api-request [mapApiConfig]="mapApiConfig[method]"></app-api-request>
    <div>
      <button mat-raised-button color="primary" (click)="sendRequest(method)">HTTP Request</button>
    </div>
    <div class="result">
      <h4>Result:</h4>
      <div style="border: 1px solid lightgray; background-color: white; padding: 8px;">
        <pre *ngIf="mapApiConfig[method].response" style="margin: 0;">{{formatResult(method)}}</pre>
        <pre *ngIf="mapApiConfig[method].error" style="margin: 0; font-style: italic; color: red;">{{mapApiConfig[method].error}}</pre>
      </div>
    </div>
  </section>

</div>
