
<div class="cors-method">
  <div>
    <ul class="cors-options">
      <li>
        <span>Request:</span>
        <mat-checkbox
          matTooltip="The XMLHttpRequest.withCredentials property is a Boolean that indicates whether or not cross-site Access-Control requests should be made using credentials such as cookies, authorization headers or TLS client certificates. Setting withCredentials has no effect on same-site requests."
          matTooltipPosition="above"
          [(ngModel)]="mapApiConfig.requestConfig.xhr.withCredentials">Request withCredentials</mat-checkbox>
      </li>
      <li>
        <span>Request Headers:</span>
        <span class="inline-block">
              <mat-radio-group [(ngModel)]="mapApiConfig.requestConfig.headers.contentType">
                <mat-radio-button
                  matTooltip="If the headers 'Accept' and 'Content-Type' are set as 'text/plain' for a GET or a POST requests, the HTTP request is considered as a Simple Fetch Request and will not trigger the preflight call. See documentation for more details."
                  matTooltipPosition="above"
                  value="text/plain">Content-Type text/plain</mat-radio-button>
                <mat-radio-button
                  matTooltip="If the headers 'Accept' and 'Content-Type' are set as 'application/json', the HTTP request will always trigger the preflight call. See documentation for more details."
                  matTooltipPosition="above"
                  value="application/json">Content-Type application/json</mat-radio-button>
              </mat-radio-group>
            </span>
        <span class="block">
              <mat-checkbox
                matTooltip="The request header 'Access-Control-Allow-Origin' should be present in the request for cross-origin requests (and valued as '{{environment.localOrigin}}', or window.location.origin), but browsers and web servers may not be so strict about it. See documentation for more details."
                matTooltipPosition="above"
                [(ngModel)]="mapApiConfig.requestConfig.headers.allowOrigin">Allow-Origin header</mat-checkbox>
              <mat-checkbox
                matTooltip="The request header 'Access-Control-Allow-Credentials' should be present in the request for cross-origin requests (and valued as 'true' if the XMLHttpRequest.withCredentials is set to true), but browsers and web servers may not be so strict about it. See documentation for more details."
                matTooltipPosition="above"
                [(ngModel)]="mapApiConfig.requestConfig.headers.allowCredentials">Allow-Credentials header</mat-checkbox>
              <mat-checkbox
                matTooltip="The request header 'Access-Control-Request-Headers' should be present in the request for cross-origin requests (and valued with a comma-separated list of all the headers sent in the HTTP request), but browsers and web servers may not be so strict about it. See documentation for more details."
                matTooltipPosition="above"
                [(ngModel)]="mapApiConfig.requestConfig.headers.requestHeaders">Request-Headers header</mat-checkbox>
            </span>
      </li>
      <li>
        <span>Request Origin:</span>
        <mat-radio-group [(ngModel)]="mapApiConfig.requestConfig.xhr.origin">
          <mat-radio-button
            matTooltip="Cross-Origin Resource Sharing only apply when the request is happening from one domain toward another. Selecting this option ensures that this HTTP request will target another Origin ({{environment.apiOrigin}}) for making the API call."
            matTooltipPosition="above"
            value="{{environment.apiOrigin}}">Cross Origin request</mat-radio-button>
          <mat-radio-button
            matTooltip="The easiest way to have to deal with Cross-Origin Resource Sharing issues is to set up a proxy using the same Origin URL as this website. A proxy has been set up to allow HTTP requests to target the API via the same Origin URL ({{environment.localOrigin}}). In this case, none of the headers, withCredentials, and other constraints applies. And there will not be any OPTIONS call."
            matTooltipPosition="above"
            value="{{environment.localOrigin}}">Same Origin request</mat-radio-button>
        </mat-radio-group>
      </li>
      <li>
        <span>Response Headers:</span>
        <mat-checkbox
          matTooltip="The response header 'Access-Control-Allow-Origin' must be present in the preflight response for cross-origin requests (and valued as the Origin URL, or '{{environment.localOrigin}}'). Browsers are very strict about it and will not let the page receive the response if not properly set. See documentation for more details."
          matTooltipPosition="above"
          [(ngModel)]="mapApiConfig.requestConfig.response.allowOrigin">Allow-Origin response</mat-checkbox>
        <mat-checkbox
          matTooltip="The response header 'Access-Control-Allow-Methods' must be present in the preflight response for cross-origin requests (and valued with at least the HTTP method used for this request). Browsers are not always strict about it. See documentation for more details."
          matTooltipPosition="above"
          [(ngModel)]="mapApiConfig.requestConfig.response.allowMethods">Allow-Methods response</mat-checkbox>
        <mat-checkbox
          matTooltip="The response header 'Access-Control-Allow-Headers' must be present in the preflight response for cross-origin requests (and valued with the headers used in the request). Browsers are very strict about it and will not let the page receive the response if not properly set. See documentation for more details."
          matTooltipPosition="above"
          [(ngModel)]="mapApiConfig.requestConfig.response.allowHeaders">Allow-Headers response</mat-checkbox>
        <mat-checkbox class="block"
          matTooltip="The response header 'Access-Control-Allow-Credentials' must be present in the preflight response for cross-origin requests (and valued as 'true' if XMLHttpRequest.withCredentials is set to true). Browsers are very strict about it and will not let the page receive the response if not properly set. See documentation for more details."
          matTooltipPosition="above"
          [(ngModel)]="mapApiConfig.requestConfig.response.allowCredentials">Allow-Credentials response</mat-checkbox>
      </li>
    </ul>
  </div>
</div>
