
.mat-tooltip {
  font-size: 12px;
  font-style: italic;
}

.cors-method {
  padding: 0px 20px 20px 20px;
}

ul.cors-options li {
  padding: 5px 0px;
}

ul.cors-options li span {
  display: inline-block;
  width: 150px;
}

ul.cors-options li span.inline-block {
  width: auto;
}

ul.cors-options li span.block, ul.cors-options li mat-checkbox.block {
  margin-left: 150px;
  padding-top: 8px;
  display: block;
  width: auto;
}

ul.cors-options li mat-checkbox, ul.cors-options li mat-radio-button {
  display: inline-block;
  width: 215px;
}
